/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 25, 2014, 11:48:07 PM
    Author     : JanThanh
*/

*{margin: 0;padding: 0}
 
ul, li{list-style: none}
 
a{text-decoration: none}
 
body{font-family: 'Poiret One', cursive; font-size: 12px}
 
.wrapper{width: 1100px;margin: 0 auto}
.main{float: left;width: 100%}
 
.header{float: left;width: 100%;background:#f6f6f6}
 
.header-left{float:left;}
 
.header-left ul, .header-left li, .header-left a{float:left;}
.header-left ul li a{padding: 10px 7px;color: #232323;font-weight: bold;}
 
.header-right{float: right;text-align: right;}
.header-right span, .header-right a{float: left;padding: 10px 2px;font-weight: bold;}
.header-right span{color: #afafaf}
.header-right a{color: #232323}
 
 
.banner{float: left;width: 100%;text-align: center;}
 
.banner h1{font-size: 68px;padding: 10px 0;}
 
.nav{float: left;width: 100%;background: #24db60}
 
.nav ul{float: left;}
.nav ul li{float: left;}
.nav ul li a{float: left;padding: 12px 10px 10px 10px;color: #fff;text-transform: uppercase;font-size: 16px;font-weight: bold;}
.nav ul li a:hover{background: #f6f6f6;color: #24db60}
 
.slider{float: left;width: 100%}
.slider img{width: 100%}
 
.content{float: left;width: 100%}
 
.left{float: left;width: 800px}
.left h2{float: left;width: 100%;padding: 20px 0}
 
.items{float: left;width: 780px;border-bottom: 1px solid #24db60;margin-bottom: 20px}
 
.items:last-child{border-bottom: none;margin-bottom: 0}
 
.item{float: left;width: 180px;margin: 0 20px 50px 0;}
 
.item:nth-child(4n){margin-right: 0}
 
.item .item-image{float: left;width: 100%}
.item .item-title{float: left;width: 100%;text-align: center;}
.item .item-title a{display: block;font-weight: bold;padding: 5px 0;color: #24DB60}
.item .item-price{float: left;width: 100%;text-align: center;font-weight: bold;}
 
 
 
.right{float: right;width: 300px;min-height: 500px;}
.right h2{padding: 20px 0}
 
.footer{float: left;width: 100%;background: #24db60}
 
.footer span{padding: 30px 0;color: #fff;font-weight: bold;font-size: 14px;float: left;}